/* Basic */
.grid {
  display: grid;
}
/* Offset */
.grid.offset-1-1 {
  gap: 1em 1em;
}
.grid.col-offset-1 {
  column-gap: 1rem;
}
.grid.row-offset-1 {
  row-gap: 1rem;
}
/* Grid system (Basic: not responsive) */
.grid.col-1 {
  grid-template-columns: repeat(1, 1fr);
}
.grid.col-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid.col-4 {
  grid-template-columns: repeat(4, 1fr);
}
.grid.col-5 {
  grid-template-columns: repeat(5, 1fr);
}
.grid.col-6 {
  grid-template-columns: repeat(6, 1fr);
}
.grid.col-7 {
  grid-template-columns: repeat(7, 1fr);
}
.grid.col-8 {
  grid-template-columns: repeat(8, 1fr);
}
.grid.col-9 {
  grid-template-columns: repeat(9, 1fr);
}
.grid.col-10 {
  grid-template-columns: repeat(10, 1fr);
}
.grid.col-11 {
  grid-template-columns: repeat(11, 1fr);
}
.grid.col-12 {
  grid-template-columns: repeat(12, 1fr);
}
/* 1fr (x)fr */
.grid.col-1-2 {
  grid-template-columns: 1fr 2fr;
}
.grid.col-1-3 {
  grid-template-columns: 1fr 3fr;
}
.grid.col-1-4 {
  grid-template-columns: 1fr 4fr;
}
.grid.col-1-5 {
  grid-template-columns: 1fr 5fr;
}
.grid.col-1-6 {
  grid-template-columns: 1fr 6fr;
}
.grid.col-1-7 {
  grid-template-columns: 1fr 7fr;
}
.grid.col-1-8 {
  grid-template-columns: 1fr 8fr;
}
.grid.col-1-9 {
  grid-template-columns: 1fr 9fr;
}
.grid.col-1-10 {
  grid-template-columns: 1fr 10fr;
}
.grid.col-1-11 {
  grid-template-columns: 1fr 11fr;
}
.grid.col-1-12 {
  grid-template-columns: 1fr 12fr;
}
/* Media List */
/* 
 ## Device sizes
 @media (min-width: 0px)    (ns) = not standard
 @media (min-width: 320px)  (vs) = very small
 @media (min-width: 576px)  (xs) = extra small
 @media (min-width: 768px)  (sm) = small
 @media (min-width: 992px)  (md) = medium
 @media (min-width: 1200px) (lg) = large
 @media (min-width: 1400px) (xl) = extra large
 @media (min-width: 1600px) (hg) = huge
 */
/* Doesn't Have Standard Size */
/* ns = not standard */
@media (min-width: 0px) {
  .grid.col-ns-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-ns-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-ns-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-ns-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-ns-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-ns-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-ns-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-ns-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-ns-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-ns-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-ns-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-ns-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-ns-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-ns-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-ns-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-ns-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-ns-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-ns-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-ns-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-ns-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-ns-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-ns-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-ns-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* VS = very small */
@media (min-width: 320px) {
  .grid.col-vs-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-vs-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-vs-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-vs-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-vs-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-vs-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-vs-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-vs-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-vs-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-vs-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-vs-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-vs-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-vs-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-vs-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-vs-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-vs-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-vs-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-vs-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-vs-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-vs-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-vs-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-vs-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-vs-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* XS */
@media (min-width: 576px) {
  .grid.col-xs-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-xs-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-xs-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-xs-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-xs-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-xs-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-xs-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-xs-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-xs-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-xs-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-xs-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-xs-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-xs-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-xs-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-xs-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-xs-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-xs-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-xs-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-xs-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-xs-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-xs-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-xs-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-xs-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* SM */
@media (min-width: 768px) {
  .grid.col-sm-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-sm-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-sm-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-sm-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-sm-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-sm-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-sm-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-sm-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-sm-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-sm-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-sm-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-sm-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-sm-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-sm-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-sm-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-sm-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-sm-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-sm-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-sm-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-sm-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-sm-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-sm-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-sm-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* MD */
@media (min-width: 992px) {
  .grid.col-md-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-md-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-md-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-md-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-md-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-md-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-md-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-md-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-md-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-md-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-md-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-md-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-md-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-md-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-md-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-md-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-md-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-md-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-md-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-md-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-md-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-md-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-md-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* LG */
@media (min-width: 1200px) {
  .grid.col-lg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-lg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-lg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-lg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-lg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-lg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-lg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-lg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-lg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-lg-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-lg-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-lg-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-lg-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-lg-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-lg-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-lg-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-lg-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-lg-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-lg-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-lg-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* XL */
@media (min-width: 1400px) {
  .grid.col-xl-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-xl-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-xl-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-xl-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-xl-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-xl-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-xl-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-xl-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-xl-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-xl-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-xl-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-xl-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-xl-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-xl-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-xl-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-xl-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-xl-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-xl-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-xl-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-xl-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-xl-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-xl-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-xl-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* Huge = hg */
@media (min-width: 1600px) {
  .grid.col-hg-1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .grid.col-hg-2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid.col-hg-3 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid.col-hg-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.col-hg-5 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid.col-hg-6 {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid.col-hg-7 {
    grid-template-columns: repeat(7, 1fr);
  }
  .grid.col-hg-8 {
    grid-template-columns: repeat(8, 1fr);
  }
  .grid.col-hg-9 {
    grid-template-columns: repeat(9, 1fr);
  }
  .grid.col-hg-10 {
    grid-template-columns: repeat(10, 1fr);
  }
  .grid.col-hg-11 {
    grid-template-columns: repeat(11, 1fr);
  }
  .grid.col-hg-12 {
    grid-template-columns: repeat(12, 1fr);
  }
  .grid.col-hg-1-2 {
    grid-template-columns: 1fr 2fr;
  }
  .grid.col-hg-1-3 {
    grid-template-columns: 1fr 3fr;
  }
  .grid.col-hg-1-4 {
    grid-template-columns: 1fr 4fr;
  }
  .grid.col-hg-1-5 {
    grid-template-columns: 1fr 5fr;
  }
  .grid.col-hg-1-6 {
    grid-template-columns: 1fr 6fr;
  }
  .grid.col-hg-1-7 {
    grid-template-columns: 1fr 7fr;
  }
  .grid.col-hg-1-8 {
    grid-template-columns: 1fr 8fr;
  }
  .grid.col-hg-1-9 {
    grid-template-columns: 1fr 9fr;
  }
  .grid.col-hg-1-10 {
    grid-template-columns: 1fr 10fr;
  }
  .grid.col-hg-1-11 {
    grid-template-columns: 1fr 11fr;
  }
  .grid.col-hg-1-12 {
    grid-template-columns: 1fr 12fr;
  }
}
/* Hidden for specific device */
@media (min-width: 0px) and (max-width: 320px) {
  .ns-hidden {
    display: none;
  }
}
@media (min-width: 321px) and (max-width: 576px) {
  .xs-hidden {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 768px) {
  .sm-hidden {
    display: none;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .md-hidden {
    display: none;
  }
}
@media (min-width: 993px) and (max-width: 1200px) {
  .lg-hidden {
    display: none;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .xl-hidden {
    display: none;
  }
}
@media screen and (min-width: 1401px) {
  .hg-hidden {
    display: none;
  }
}
